body {
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 2.5rem;
}

.input {
  border: 1px solid #ccc;
  border-radius: 0.3em;
  padding: 0.25rem;
  width: 7em;
  font-size: 1.5rem;
}

select {
  margin-left: 0.5rem;
}

.value-box {
  font-size: 1.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2.5rem;
}

.container {
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 5rem;
  background-image: linear-gradient(
    319deg,
    #fae37c 0%,
    #256eff 37%,
    #46237a 100%
  );
  border-radius: 10px;
  margin: 0.2rem;
  max-width: 40vw;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

.timestamp {
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.25rem;
}

button {
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #3a3a3a 0%, #000000 74%);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 0.3em;
}

.row {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

.select-container {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.input-container, .select-container > div { 
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.input-container label, .select-container label {
  margin-bottom: 5px;
}

.result {
  font-size: 2rem;
  margin: 1rem;
}


@media (max-width: 700px) {
  .container {
    font-size: 1rem;
    padding: 2rem;
    max-width: 90vw;
  }

  .timestamp {
    font-size: 0.5rem;
    margin-top: 0.25rem;
    padding: 0.125rem;
  }

  .input {
    font-size: 1rem;
  }

  .value-box {
    font-size: 1rem;
  }
}
